[submodule "fast-syntax-highlighting"]
	path = fast-syntax-highlighting
	url = https://github.com/z-shell/F-Sy-H.git
[submodule "zsh-autosuggestions"]
	path = zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh-history-substring-search"]
	path = zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
